streamlit
streamlit-audiorec
streamlit-chat
Pillow
git+https://github.com/huggingface/transformers
torch
soundfile
numpy
wave
librosa
pydub
langchain-google-genai
langchain_core
timm
inflect
phonemizer
elevenlabs
tf-keras
